# Assignment No 4 (Task 1 and Task 2)

In [10]:
# Question No 1
# Moving Average 
# Write a function to find moving average in an array over a window:
# Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3

In [11]:
import numpy as np
import pandas as pd

In [12]:
def moving_avg(data,window):
    for i in range(len(data)-window):
        y=np.sum(data[i:i+window])
        print(y/window)

In [13]:
data = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
moving_avg(data,3)

5.0
4.666666666666667
5.666666666666667
6.666666666666667
9.666666666666666
28.666666666666668
49.333333333333336
72.66666666666667
84.0
93.33333333333333

# Task 2

In [ ]:
# Question No 1
#For each value, count the difference back to the previous zero (or the start of the Series,whichever is closer) create a 
#new column 'Y' Consider a DataFrame df where there is an integer column 'X' 
#import pandas as pd df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [14]:
import pandas as pd
s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [ ]:
#Question No 2
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [15]:
import numpy as np
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.182306
2015-01-02    0.805831
2015-01-05    0.946876
2015-01-06    0.284751
2015-01-07    0.759826
2015-01-08    0.100888
2015-01-09    0.874126
2015-01-12    0.315873
2015-01-13    0.848527
2015-01-14    0.549137
2015-01-15    0.413199
2015-01-16    0.867533
2015-01-19    0.774855
2015-01-20    0.501523
2015-01-21    0.771289
2015-01-22    0.362405
2015-01-23    0.930762
2015-01-26    0.234986
2015-01-27    0.025314
2015-01-28    0.306025
2015-01-29    0.521447
2015-01-30    0.072324
2015-02-02    0.215101
2015-02-03    0.952141
2015-02-04    0.451595
2015-02-05    0.455748
2015-02-06    0.531906
2015-02-09    0.091761
2015-02-10    0.490427
2015-02-11    0.592127
                ...
2015-11-20    0.866739
2015-11-23    0.656450
2015-11-24    0.595070
2015-11-25    0.092494
2015-11-26    0.040144
2015-11-27    0.501460
2015-11-30    0.499641
2015-12-01    0.852626
2015-12-02    0.057364
2015-12-03    0.948451
2015-12-04    0.984416
2015-12-07    0.847584
2015-12-08    0.879556
2015-12-09    0.966336
2015-12-10    0.964344
2015-12-11    0.169119
2015-12-14    0.831642
2015-12-15    0.456059
2015-12-16    0.530725
2015-12-17    0.711656
2015-12-18    0.086164
2015-12-21    0.970957
2015-12-22    0.958345
2015-12-23    0.091956
2015-12-24    0.773665
2015-12-25    0.068693
2015-12-28    0.205081
2015-12-29    0.605663
2015-12-30    0.067834
2015-12-31    0.028015
Freq: B, Length: 261, dtype: float64

In [16]:
# Question No 3
# Find the sum of the values in s for every Wednesday.
s[dti.weekday == 2].sum()

24.742527238987265

In [17]:
# Question No 4
#Average For each calendar month
#s.resample('M', how='mean')
s.resample('M').mean()

2015-01-31    0.520446
2015-02-28    0.476470
2015-03-31    0.510331
2015-04-30    0.462536
2015-05-31    0.513639
2015-06-30    0.524880
2015-07-31    0.510041
2015-08-31    0.482104
2015-09-30    0.439271
2015-10-31    0.577126
2015-11-30    0.499428
2015-12-31    0.567663
Freq: M, dtype: float64

In [18]:
# Question No 5
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

2015-01-31   2015-01-05
2015-05-31   2015-03-25
2015-09-30   2015-07-03
2016-01-31   2015-10-15
dtype: datetime64[ns]